{% extends "base.html" %}

{% load bootstrap5 %}

{% block content %}
<div class="wrapper">
<form class="login" form action="/accounts/login/" method="post">
  {% csrf_token %}
  {% bootstrap_form form%}
  <button class="login-button" button type="submit" title="login" >Log In</button>
  <input type="hidden" name="next" value="{{next}}">
  <p>Don't have an account? <a class="signup" href="/accounts/register">Sign Up</a></p>
</form>
<footer><a target="blank style" style ="color: #FFFFFF;background-color:black"; href="https://github.com/AndrewIndeche"><strong>by Andrew</strong></a></footer>
</div>
{% endblock %}